<!DOCTYPE html>
<html lang="fr">
<meta charset="UTF-8">

<head>
  <title>AlloVoisin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./style/reset.css">
  <link rel="stylesheet" href="./style/style.css">
</head>

<body>
  <div id="app" class="mainContainer">
    <section class="articleList">
      <header>
        <a href="#"><i class="fas fa-chevron-left"></i></a>
        <h3>Mes articles</h3>
      </header>
      <ul>
        <li @click="active = !active" :aria-pressed="active ? 'true' : 'false'" :class="{ delete: active }">
          <div class="label">Achat de matériel<i class="fas fa-chevron-right"></i></div>
          <div class="action-button editButton"><i class="fas fa-pen"></i></div>
          <div class="action-button deleteButton"><i class="far fa-trash-alt"></i></div>
        </li>
        <li v-for="todo in todos" v-bind:key="todo.id" @click="active = !active" :aria-pressed="active ? 'true' : 'false'" :class="{ delete: active }">
          <div class="label">{{ todo.value }} <i class="fas fa-chevron-right"></i></div> 
          <div class="action-button editButton"><i class="fas fa-pen"></i></div>
          <div class="action-button deleteButton" v-on:click="removeTodo"><i class="far fa-trash-alt"></i></div>
        </li>
        <!--
        <li @click="active = !active" :aria-pressed="active ? 'true' : 'false'" :class="{ delete: active }">
          <div class="label">Dépose des radiateurs<i class="fas fa-chevron-right"></i></div>
          <div class="deleteButton"><i class="far fa-trash-alt"></i></div>
        </li>
        <li @click="active = !active" :aria-pressed="active ? 'true' : 'false'" :class="{ delete: active }">
          <div class="label">Dépose des sols<i class="fas fa-chevron-right"></i></div>
          <div class="deleteButton"><i class="far fa-trash-alt"></i></div>
        </li>
        <li @click="active = !active" :aria-pressed="active ? 'true' : 'false'" :class="{ delete: active }">
          <div class="label">Remplacement sanitaire<i class="fas fa-chevron-right"></i></div>
          <div class="deleteButton"><i class="far fa-trash-alt"></i></div>
        </li>
        <li @click="active = !active" :aria-pressed="active ? 'true' : 'false'" :class="{ delete: active }">
          <div class="label">Pose meuble vasque<i class="fas fa-chevron-right"></i></div>
          <div class="deleteButton"><i class="far fa-trash-alt"></i></div>
        </li> -->
      </ul>
    </section>
    <aside class="articleCart">
      <header>
        <a href="#"><i class="fas fa-chevron-left"></i></a>
        <h3>Ajouter un article</h3>
        <div href="#" class="articleCart-delete"><i class="far fa-trash-alt"></i></div>
      </header>
      <div class="articleCart-form">
        <label class="articleCart-name">
          <input type="text" placeholder="Nom de l'article" v-model.lazy="userInput" required="required">
        </label>
        <label class="articleCart-price">
          <span>Prix unitaire Ht</span>
          <input type="number" placeholder="00.00" step=".01" onfocus="this.value=''" v-model="addArticle">
        </label>    
        <label class="articleCart-taxe">
          <span>TVA en %</span>
          <input type="number" placeholder="20%" readonly>
        </label>
         <footer>
          <div class="articleCart-result">
            <p>Prix total TTC</p>
            <p>{{ addArticle }} €</p>
          </div>
          <div class="articleCart-button">
            <button class="button-orange" v-on:click="addTodo()">Enregistrer l'article</button>
            <!-- <button v-on:click="addTodo" class="button-orange" v-on:click="addArticle()">Enregistrer l'article</button> -->
          </div>
        </footer>
      </div> <!-- End articleCart-form -->
    </aside>
  </div> <!-- End mainContainer -->

  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
  <script src="index.js"></script>
  <script src="https://kit.fontawesome.com/890993565b.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</body>
</html>