@import "./config.scss";

// Main 

body {
  background-color: $color1;
  font-family: $ffTxt;
  font-size: 16px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $padding16;
  margin-bottom: 16px;
  h3 {
    font-family: $ffTitle;
    font-size: 24px;
    @media (max-width: 768px) {
      width: 100%;
      text-align: center;
    }
  }
  a {
    display: none;
    color: $colorBlack;
    text-decoration: none;
    @media (max-width: 768px) {
      display: flex;
    }
  }
  .articleCart-delete {
    display: none;
    @media (max-width: 768px) {
      display: flex;
      cursor: pointer;
    }
  }
}
button {
  @include button;
}
.button-orange {
  &:hover {
    background-color: $colorDarkenOrange;
  }
}
input::placeholder{
  color: $colorBlack;
}
.mainContainer {
  display: grid;
  grid-template-columns: calc(70% - 16px) 30%;
  column-gap: 16px;
  row-gap: 16px;
  grid-template-rows: auto;
  grid-template-areas: "articleList articleCart";
  padding: 3%;
  margin: 0 auto;
  width: calc(100% - 6%);
  max-width: 1200px;
  @media (max-width: 768px) {
    grid-template-columns: 100%;
    column-gap: 0;
    grid-template-areas: 
      "articleList"
      "articleCart";
  }
}

// Custom 

.articleList {
  @include flexCol;
  align-self: flex-start;
  grid-area: articleList;
  background-color: $colorWhite;
  border-radius: $borderRadius;
  overflow: hidden;
  li {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color2;
    &:last-child {
      border: none;
    }
    &:hover {
      cursor: pointer;
      background-color: $color2;
    }
    .label {
      display: flex;
      justify-content: space-between;
      transition: all 0.5s;
      width: 100%;
      padding: $padding16;
    }
    .deleteButton {
      @include flexFullCenter;
      transition: all 1s;
      align-items: stretch;
      padding: $padding16;
      width: 70px;
      height: 100%;
      background-color: $colorRed;
      color: $colorWhite;
      margin: 0 -102px 0 0;
    }
  }
  .delete {
    .label {
      width: calc(100% - 70px);
    }
    .deleteButton {
      margin: 0 ;
      &:hover {
        background-color: $colorDarkenRed;
      }
    }
  }
}
.articleCart {
  @include flexCol;
  align-self: flex-start;
  grid-area: articleCart;
  background-color: $colorWhite;
  border-radius: $borderRadius;
  &-form {
    @include flexCol;
    row-gap: 16px;
    padding: 0 $padding16 48px $padding16;
    label {
      position: relative;
    }
    input {
      height: 22px;
      width: calc(100% - 22px);
      padding: 10px;
      font-size: 16px;
      color: $color3;
      border: 1px solid $color3;
      border-radius: 3px;
    }
    span {
      position: absolute;
      top: -4px;
      left: 10px;
      z-index: 9;
      padding: 0 6px;
      font-family: $ffTxt;
      font-size: 12px;
      background-color: #ffffff;
    }
  }
  &-taxe,
  &-price {
    input {
      position: relative;
      text-align: right;
      padding: 10px 30px 10px 10px;
      width: calc(100% - 42px);
      color: $colorBlack;
      &:last-child {
        font-family: $ffSubTitle;
      }
    }
    &:after {
      content: '€';
      display: block;
      position: absolute;
      right: 0;
      top: 0px;
      width: 32px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color1;
      border-radius: 0 4px 4px 0;
      color: $colorBlack;
      border: 1px solid $color3;
      border-left: none;
    }
  }
  &-taxe {
    &:after {
      content: "%";
    }
  }
  &-result {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    font-family: $ffSubTitle;
  }
  &-button {
    @include flexFullCenter; 
  }
}